.comment {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
}

.author {
    font-weight: bold;
    color: var(--black);
}

.text {
    color: var(--black);

    word-break: break-all;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}